# Exploring Ebay Car Sales Data from eBay Kleinanzeigen

## Introduction:

This analysis will focus on a classifieds section of the German eBay website, eBay Kleinanzeigen.

The dataset was scraped from the web and can be found at [Kaggle](https://www.kaggle.com/orgesleka/used-cars-database/data).

for this analysis report, the dataset we're using here was modified as per the following:
1. A 50,000 data points were sampled from the full data set. *(This was intentional for the purpose of learning at the training website [dataquest.io](https://dataquest.io))*
2. The original dataset is a clean one, so for the purpose of learning, the dataset we're working on has been dirtied a bit to more closely resemble what we can expect from a scraped dataset in real life.

## Goals:

The aim of this analysis is to:
1. Clean the data.
2. Analyze the included used car listings.
3. Be familiar with some of the unique benefits jupyter notebook provides for pandas.

## Columns:

Below, is a list of each column in the dataset, along with a brief description.

1. `dateCrawled` - When this ad was first crawled. All field-values are taken from this date.
2. `name` - Name of the car.
3. `seller` - Whether the seller is private or a dealer.
4. `offerType` - The type of listing
5. `price` - The price on the ad to sell the car.
6. `abtest` - Whether the listing is included in an A/B test.
7. `vehicleType` - The vehicle Type.
8. `yearOfRegistration` - The year in which the car was first registered.
9. `gearbox` - The transmission type.
10. `powerPS` - The power of the car in PS.
11. `model` - The car model name.
12. `kilometer` - How many kilometers the car has driven.
13. `monthOfRegistration` - The month in which the car was first registered.
14. `fuelType` - What type of fuel the car uses.
15. `brand` - The brand of the car.
16. `notRepairedDamage` - If the car has a damage which is not yet repaired.
17. `dateCreated` - The date on which the eBay listing was created.
18. `nrOfPictures` - The number of pictures in the ad.
19. `postalCode` - The postal code for the location of the vehicle.
20. `lastSeenOnline` - When the crawler saw this ad last online.

## Preparation code:

In [1]:
#importing libraries and tools
import numpy as np
import pandas as pd

#opening the dataset into pandas using the Latin-1 encoding
#since the default encoding seems to give an error
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
#A neat fature of jupyter notebook is its ability to render
#the first few and the last few values of any pandas object

autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

## Data Exploration and Pre-Analysis Cleaning:

In here, we will explore the basic information about this dataset, as well as clean/fix some issues with it.

In [3]:
autos.info()
print('\n')
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

From the above, we notice that the columns uses camelCase, as well as only few of the columns are read as int64, where the rest (dates, prices, some other numbers, etc.) are objects. we can explore more like below:

In [4]:
columnsToCheck = ['seller',
                  'offerType',
                  'abtest',
                  'vehicleType',
                  'gearbox',
                  'monthOfRegistration',
                  'fuelType',
                  'brand',
                  'notRepairedDamage'
                 ]

for col in columnsToCheck:
    print(col, ':\n', autos[col].unique(), '\n')

seller :
 ['privat' 'gewerblich']

offerType :
 ['Angebot' 'Gesuch']

abtest :
 ['control' 'test']

vehicleType :
 ['bus' 'limousine' 'kleinwagen' 'kombi' nan 'coupe' 'suv' 'cabrio'
 'andere']

gearbox :
 ['manuell' 'automatik' nan]

monthOfRegistration :
 [ 3  6  7  4  8 12 10  0  9 11  5  2  1]

fuelType :
 ['lpg' 'benzin' 'diesel' nan 'cng' 'hybrid' 'elektro' 'andere']

brand :
 ['peugeot' 'bmw' 'volkswagen' 'smart' 'ford' 'chrysler' 'seat' 'renault'
 'mercedes_benz' 'audi' 'sonstige_autos' 'opel' 'mazda' 'porsche' 'mini'
 'toyota' 'dacia' 'nissan' 'jeep' 'saab' 'volvo' 'mitsubishi' 'jaguar'
 'fiat' 'skoda' 'subaru' 'kia' 'citroen' 'chevrolet' 'hyundai' 'honda'
 'daewoo' 'suzuki' 'trabant' 'land_rover' 'alfa_romeo' 'lada' 'rover'
 'daihatsu' 'lancia']

notRepairedDamage :
 ['nein' nan 'ja']

We can see from the above that we do have some missing data in the fields `vehicleType`, `fuelType`, and `notRepairedDamage`.

In [5]:
#Analysing NaN values percentages
d = {}
for col in columnsToCheck:
    temp = autos[col].isnull()
    i = len(autos.loc[temp,col])
    d[col] = i / 50000 * 100

print(d)

{'seller': 0.0, 'gearbox': 5.36, 'offerType': 0.0, 'vehicleType': 10.190000000000001, 'abtest': 0.0, 'monthOfRegistration': 0.0, 'notRepairedDamage': 19.658, 'fuelType': 8.964, 'brand': 0.0}

From the above values, we notice that the NaN values do not go over 20%.

###  Columns names

We will fix the current format for the columns to be more descriptive:
1. The column names will be changed from a cameCase, to the Python's preferred snakecase.
2. we will reword some of the column names based on the data dictionary.

In [6]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
new_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']
autos.columns = new_columns
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

As per the above results, we have fixed the column names to a neat snakecase with Pandas.

### Removal of non-useful information

In some datasets, we can find some columns that contains non-useful data (e.g. text columns where all or almost all values are the same, which are not useful for analysis). In here, we will do a bit more of exploration to figure this out.

In [8]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-10 15:36:24,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

#### A.

From the above stats, we can see that the column `nr_of_pictures` have the same value, which is 0.0. We can confirm this from the below code:

In [9]:
autos['nr_of_pictures'].unique()

array([0])

This denotes that the `nr_of_pictures` is not very useful for our analysis.

#### B.

Few of the columns may have 2 values only (like true or flase values), such as `unrepaired_damage`, and `seller` columns.

In [10]:
autos['unrepaired_damage'].unique()

array(['nein', nan, 'ja'], dtype=object)

In [11]:
autos['seller'].unique()

array(['privat', 'gewerblich'], dtype=object)

Both columns can have just 2 values, and for `unrepaired_damage` column, we have nan values as well.

#### C.

Columns `seller` and `offer_type` have almost all of the values the same.

In [12]:
autos['seller'].describe()

count      50000
unique         2
top       privat
freq       49999
Name: seller, dtype: object

In [13]:
autos['offer_type'].describe()

count       50000
unique          2
top       Angebot
freq        49999
Name: offer_type, dtype: object

#### D.

Some columns are still not clear in its data, since they're stored as text. We will convert them as they should be numeric. These columns are are `price` and `odometer` columns.

### Converting text to numeric data

We will work on `odometer` and `price` columns first, since they're stored as text and not in a numeric type.

In [14]:
autos['odometer'].head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

In [15]:
autos['price'].head()

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

The `odometer` column contains 'km' string at the end of each entry, while the `price` column contains '$' at the beginning of each entry.

In [16]:
#odometer series conversion
autos['odometer'] = autos['odometer'].str[:-2]
autos['odometer'] = autos['odometer'].str.replace(',','')
autos['odometer'] = autos['odometer'].astype(int)

#price series convertion
autos['price'] = autos['price'].str[1:]
autos['price'] = autos['price'].str.replace(',','')
autos['price'] = autos['price'].astype(int)

#converting column names
autos.rename(columns={'odometer':'odometer_km', 'price':'price_usd'}, inplace=True)

In [17]:
#checking the heads again
autos['odometer_km'].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int64

In [18]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price_usd             50000 non-null int64
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(7), object(13)
memory usage: 7.6+ MB

Now we can see both columns are fixed (datatype wise). New column names are `price_usd` and `odometer_km`.

### Finding outliers

In this step, we will look for data that doesn't look right. We will analyze the `odometer_km` and `price_usd` columns for any abnormal data entries (i.e. unrealistic high/low values).

In [19]:
#column `odometer_km` analysis
print('Min: ', autos['odometer_km'].min())
print('Max: ', autos['odometer_km'].max())

print('Unique values count: ', autos['odometer_km'].unique().shape, end='\n\n')

print('Detailed description: ')
print(autos['odometer_km'].describe(),end='\n\n')
print('Value counts: ')
print(autos['odometer_km'].value_counts().sort_index())

Min:  5000
Max:  150000
Unique values count:  (13,)

Detailed description:
count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

Value counts:
5000        967
10000       264
20000       784
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: odometer_km, dtype: int64

The `odometer_km` column's data shows that we only have 13 unique values. This can be helpful for our analysis as the ads are already categorized with few values for `odmeter_km` column.

This can denote that, when ads are placed, the `odometer_km` box is a combo box, with only 13 values.

In [20]:
#column `price_usd` analysis
print('Min: ', autos['price_usd'].min())
print('Max: ', autos['price_usd'].max())

print('Unique values count: ', autos['price_usd'].unique().shape, end='\n\n')

print('Detailed description: ')
print(autos['price_usd'].describe(),end='\n\n')
print('Value counts (Lowest 5): ')
print(autos['price_usd'].value_counts().sort_index().head(), end='\n\n')

print('Value counts (Highest 5): ')
print(autos['price_usd'].value_counts().sort_index(ascending=False).head())

Min:  0
Max:  99999999
Unique values count:  (2357,)

Detailed description:
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_usd, dtype: float64

Value counts (Lowest 5):
0    1421
1     156
2       3
3       1
5       2
Name: price_usd, dtype: int64

Value counts (Highest 5):
99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
Name: price_usd, dtype: int64

We can see from the above the the `price_usd` column contains some outliers, and they should be removed. We first try and see cars above $ 1,000,000.

In [21]:
autos.loc[autos['price_usd']>100000, :]

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
514,2016-03-17 09:53:08,Ford_Focus_Turnier_1.6_16V_Style,privat,Angebot,999999,test,kombi,2009,manuell,101,focus,125000,4,benzin,ford,nein,2016-03-17 00:00:00,0,12205,2016-04-06 07:17:35
1878,2016-03-12 16:58:37,Porsche_911_Turbo,privat,Angebot,129000,control,coupe,1995,manuell,408,911,125000,9,benzin,porsche,nein,2016-03-12 00:00:00,0,70180,2016-04-05 04:49:19
2454,2016-03-21 22:51:29,Porsche_911_GT3,privat,Angebot,137999,control,coupe,2010,manuell,435,911,20000,7,benzin,porsche,nein,2016-03-21 00:00:00,0,80636,2016-04-07 05:45:39
2751,2016-03-15 10:52:35,Porsche_911___993_4S,privat,Angebot,120000,control,coupe,1998,manuell,286,911,125000,3,benzin,porsche,nein,2016-03-15 00:00:00,0,25488,2016-04-05 19:47:31
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111,test,limousine,1973,manuell,48,escort,50000,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
7402,2016-03-22 19:48:09,Porsche_911_Carrera_4S_Cabrio_PDK__BOSE__NEU__...,privat,Angebot,115000,test,cabrio,2016,automatik,400,911,5000,3,benzin,porsche,nein,2016-03-22 00:00:00,0,51379,2016-03-26 21:46:46
7814,2016-04-04 11:53:31,Ferrari_F40,privat,Angebot,1300000,control,coupe,1992,NaN,0,NaN,50000,12,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11
8232,2016-04-01 21:50:47,Porsche_993_S_Schalter_BRD_neuwertig,privat,Angebot,128000,test,coupe,1997,manuell,286,911,100000,4,benzin,porsche,nein,2016-04-01 00:00:00,0,81543,2016-04-05 19:46:23
10500,2016-03-17 12:56:38,Porsche_991,privat,Angebot,155000,test,coupe,2013,NaN,476,911,20000,11,NaN,porsche,nein,2016-03-17 00:00:00,0,90768,2016-03-26 23:16:41
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,privat,Angebot,10000000,control,coupe,1960,manuell,368,NaN,100000,1,benzin,sonstige_autos,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
11433,2016-03-30 21:44:21,Audi_R8_V10_plus_5.2_FSI_quattro_S_tronic_Akra...,privat,Angebot,175000,test,coupe,2016,automatik,610,andere,5000,1,benzin,audi,nein,2016-03-30 00:00:00,0,94244,2016-04-05 11:46:33
12682,2016-03-28 22:48:01,Porsche_GT3_RS__PCCB__Lift___grosser_Exklusiv_...,privat,Angebot,265000,control,coupe,2016,automatik,500,911,5000,3,benzin,porsche,nein,2016-03-28 00:00:00,0,70193,2016-04-05 03:44:51
14268,2016-04-01 12:52:27,Porsche_997_GT3_Approved_Lift_Unfallfrei_Mj.2011,privat,Angebot,135000,test,coupe,2010,manuell,435,911,30000,7,benzin,porsche,nein,2016-04-01 00:00:00,0,83684,2016-04-07 09:44:21
14715,2016-03-30 08:37:24,Rolls_Royce_Phantom_Drophead_Coupe,privat,Angebot,345000,control,cabrio,2012,automatik,460,NaN,20000,8,benzin,sonstige_autos,nein,2016-03-30 00:00:00,0,73525,2016-04-07 00:16:26
16964,2016-04-01 16:46:18,Bentley_Continental_Supersports,privat,Angebot,105000,control,coupe,2010,automatik,630,NaN,80000,1,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,70192,2016-04-05 11:49:31
17140,2016-03-05 17:39:22,Mercedes_Benz_SLS_AMG_Roadster_AMG_SPEEDSHIFT_DCT,privat,Angebot,180000,test,cabrio,2012,automatik,571,andere,50000,2,benzin,mercedes_benz,nein,2016-03-05 00:00:00,0,14193,2016-03-20 19:44:36
17540,2016-03-30 00:49:49,Porsche_930_Turbo_classic_analytics_Gutachten_2+,privat,Angebot,105000,test,coupe,1988,manuell,300,911,150000,6,benzin,porsche,nein,2016-03-29 00:00:00,0,76829,2016-04-06 21:18:20
18509,2016-03-27 18:43:02,Porsche_991_GT3,privat,Angebot,169000,control,coupe,2013,automatik,476,911,20000,9,benzin,porsche,nein,2016-03-27 00:00:00,0,83629,2016-04-05 15:15:29
20351,2016-03-22 17:47:59,BMW_Z8_roadster,privat,Angebot,190000,control,cabrio,2000,manuell,400,z_reihe,60000,9,benzin,bmw,nein,2016-03-22 00:00:00,0,14473,2016-04-02 11:44:28
21783,2016-03-26 22:06:24,Porsche_911_Carrera_4S_Cabriolet_PDK,privat,Angebot,115991,test,cabrio,2013,automatik,400,911,10000,5,benzin,porsche,nein,2016-03-26 00:00:00,0,65843,2016-04-07 00:17:34
22060,2016-03-09 00:58:24,Tesla_Model_X90D_Autopilot_Leder_AHK_Kaltwette...,privat,Angebot,114400,test,suv,2016,automatik,0,NaN,5000,3,elektro,sonstige_autos,nein,2016-03-08 00:00:00,0,33335,2016-03-24 09:46:27
22673,2016-03-05 18:40:13,Porsche_911_991_GT3_LED_Licht_Chrono_Navi_Club...,privat,Angebot,163991,test,coupe,2014,automatik,476,911,10000,6,benzin,porsche,nein,2016-03-05 00:00:00,0,51702,2016-03-09 16:45:30
22947,2016-03-22 12:54:19,Bmw_530d_zum_ausschlachten,privat,Angebot,1234566,control,kombi,1999,automatik,190,NaN,150000,2,diesel,bmw,NaN,2016-03-22 00:00:00,0,17454,2016-04-02 03:17:32
24384,2016-03-21 13:57:51,Schlachte_Golf_3_gt_tdi,privat,Angebot,11111111,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,0,18519,2016-03-21 14:40:18
27371,2016-03-09 15:45:47,Fiat_Punto,privat,Angebot,12345678,control,NaN,2017,NaN,95,punto,150000,0,NaN,fiat,NaN,2016-03-09 00:00:00,0,96110,2016-03-09 15:45:47
28090,2016-03-08 19:50:06,Tesla_Model_X_P90D_Signature_Sondermodel__Neuw...,privat,Angebot,194000,test,suv,2016,automatik,0,NaN,5000,3,elektro,sonstige_autos,nein,2016-03-08 00:00:00,0,97990,2016-03-16 04:15:31
29286,2016-03-22 15:58:56,Porsche_911_Turbo_PDK__Sport_Chrono_Garantie_D...,privat,Angebot,104900,control,coupe,2011,automatik,500,911,30000,1,benzin,porsche,nein,2016-03-22 00:00:00,0,42111,2016-04-06 05:45:48
32185,2016-03-25 12:42:09,Porsche_997_GT3_MKII_EIN_SAMMLERSTÃœCK_IN_VOLLA...,privat,Angebot,139997,test,coupe,2010,manuell,435,911,20000,3,benzin,porsche,nein,2016-03-25 00:00:00,0,71159,2016-04-06 13:45:07
32840,2016-03-22 08:55:27,Mercedes_Benz_G_500_7G_TRONIC_Cabrio_Desingno_...,privat,Angebot,169999,control,cabrio,2012,automatik,387,g_klasse,40000,3,benzin,mercedes_benz,nein,2016-03-22 00:00:00,0,42655,2016-04-05 20:47:17
33638,2016-03-24 12:54:19,Porsche_911_GT3_RS,privat,Angebot,151990,test,coupe,2007,manuell,415,911,20000,10,benzin,porsche,nein,2016-03-24 00:00:00,0,40479,2016-04-07 03:46:46
33884,2016-03-26 21:55:12,Porsche_911_Carrera_4S_Cabriolet_PDK,privat,Angebot,116000,control,cabrio,2013,automatik,430,911,30000,4,benzin,porsche,nein,2016-03-26 00:00:00,0,4808,2016-03-26 22:46:40
34723,2016-03-23 16:37:29,Porsche_Porsche_911/930_Turbo_3.0__deutsche_Au...,privat,Angebot,299000,test,coupe,1977,manuell,260,911,100000,7,benzin,porsche,nein,2016-03-23 00:00:00,0,61462,2016-04-06 16:44:50
35923,2016-04-03 07:56:23,Porsche_911_Targa_Exclusive_Edition__1_von_15_...,privat,Angebot,295000,test,cabrio,2015,automatik,400,911,5000,6,benzin,porsche,nein,2016-04-03 00:00:00,0,74078,2016-04-03 08:56:20
36818,2016-03-27 18:37:37,Porsche_991,privat,Angebot,350000,control,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-27 00:00:00,0,70499,2016-03-27 18:37:37
37585,2016-03-29 11:38:54,Volkswagen_Jetta_GT,privat,Angebot,999990,test,limousine,1985,manuell,111,jetta,150000,12,benzin,volkswagen,ja,2016-03-29 00:00:00,0,50997,2016-03-29 11:38:54
37840,2016-03-21 10:50:12,Porsche_997,privat,Angebot,220000,test,coupe,2008,manuell,415,911,30000,7,benzin,porsche,nein,2016-03-21 00:00:00,0,69198,2016-04-06 04:46:14
38299,2016-03-28 22:25:25,Glas_BMW_mit_Wasser,privat,Angebot,250000,test,NaN,2015,NaN,0,x_reihe,5000,0,NaN,bmw,NaN,2016-03-28 00:00:00,0,60489,2016-03-28 22:25:25
38814,2016-03-22 16:53:44,Porsche_Porsche_964_TURBO_S_X33_WLS_ab_Werk_35...,privat,Angebot,119500,test,coupe,1992,manuell,355,911,150000,6,benzin,porsche,nein,2016-03-22 00:00:00,0,52062,2016-03-24 00:47:12
39377,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,privat,Angebot,12345678,control,NaN,2018,manuell,95,v40,150000,6,NaN,volvo,nein,2016-03-08 00:00:00,0,14542,2016-04-06 23:17:31
39705,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,privat,Angebot,99999999,control,limousine,1999,automatik,224,s_klasse,150000,9,benzin,mercedes_benz,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30
40918,2016-03-20 18:40:05,Porsche_911_991_GT3_RS,privat,Angebot,198000,test,coupe,2015,automatik,500,911,5000,6,benzin,porsche,nein,2016-03-20 00:00:00,0,51491,2016-03-21 21:46:36
42221,2016-03-08 20:39:05,Leasinguebernahme,privat,Angebot,27322222,control,limousine,2014,manuell,163,c4,40000,2,diesel,citroen,NaN,2016-03-08 00:00:00,0,76532,2016-03-08 20:39:05
43049,2016-03-21 19:53:52,2_VW_Busse_T3,privat,Angebot,999999,test,bus,1981,manuell,70,transporter,150000,1,benzin,volkswagen,NaN,2016-03-21 00:00:00,0,99880,2016-03-28 17:18:28
43282,2016-04-03 18:42:28,Porsche_911_Carrera_4S_Cabriolet_PDK,privat,Angebot,119900,control,cabrio,2014,automatik,400,911,30000,2,benzin,porsche,nein,2016-04-03 00:00:00,0,51465,2016-04-05 18:46:32
43668,2016-03-16 18:47:26,Porsche_993/911_Turbo_WLS_II_Exclusive_S_deuts...,privat,Angebot,197000,control,coupe,1998,manuell,450,911,150000,3,NaN,porsche,nein,2016-03-16 00:00:00,0,46147,2016-04-07 02:44:47
44406,2016-03-15 14:47:26,Mercedes_Benz_170_S_Cabriolet_A__Startklar_fue...,privat,Angebot,120000,control,cabrio,1951,manuell,52,andere,20000,5,benzin,mercedes_benz,nein,2016-03-15 00:00:00,0,1067,2016-04-06 05:15:50
45387,2016-03-18 16:41:22,Porsche_911_GT3__Clubsp._Lift_nur_bis_25.03._v...,privat,Angebot,163500,test,coupe,2015,automatik,476,911,10000,9,benzin,porsche,nein,2016-03-18 00:00:00,0,74078,2016-03-18 16:41:22
47337,2016-04-05 10:25:38,BMW_Z8_roadster,privat,Angebot,259000,test,cabrio,2001,manuell,400,z_reihe,20000,6,benzin,bmw,nein,2016-04-05 00:00:00,0,61462,2016-04-05 12:07:32
47598,2016-03-31 18:56:54,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,privat,Angebot,12345678,control,limousine,2001,manuell,101,vectra,150000,3,benzin,opel,nein,2016-03-31 00:00:00,0,4356,2016-03-31 18:56:54
47634,2016-04-04 21:25:21,Ferrari_FXX,privat,Angebot,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60313,2016-04-05 12:07:37
49391,2016-03-18 00:55:16,"Lamborghini_Gallardo_LP560_4_E_Gear_""Callisto_...",privat,Angebot,109999,test,coupe,2008,automatik,560,NaN,30000,9,benzin,sonstige_autos,nein,2016-03-17 00:00:00,0,96052,2016-04-05 21:46:24
49668,2016-03-31 13:45:02,"Porsche_911__993__Carrera_S_""SONDERMODELL""",privat,Angebot,145000,control,coupe,1998,manuell,286,911,60000,7,benzin,porsche,nein,2016-03-31 00:00:00,0,63179,2016-04-06 06:16:03
49815,2016-03-08 10:06:22,SUCHE_TIPPS___Ford_Mustang_Shelby_GT_350_500_K...,privat,Angebot,130000,control,coupe,1968,NaN,0,mustang,50000,7,benzin,ford,NaN,2016-03-08 00:00:00,0,56070,2016-03-23 23:15:17

In [22]:
print(len(autos.loc[autos['price_usd']>1000000, :]))

11

Since they are only 11, we can go ahead and remove them:

In [23]:
autos.drop(autos[autos['price_usd'] > 1000000].index, inplace=True)

We can also see those values with unrealistic values, such as zero dollars, 999999 dollars, and 1 dollar, etc:

In [24]:
print(len(autos.loc[autos['price_usd']==0, :]))
print(len(autos.loc[autos['price_usd']==999999, :]))
print(len(autos.loc[autos['price_usd']==1, :]))

1421
2
156

We can remove these from our dataset as well, since they won't help in the analysis:

In [25]:
autos.drop(autos[autos['price_usd'] == 0].index, inplace=True)
autos.drop(autos[autos['price_usd'] == 999999].index, inplace=True)
autos.drop(autos[autos['price_usd'] == 1].index, inplace=True)

We can analyze the `price_usd` columns again now:

In [26]:
#column `price_usd` analysis
print('Min: ', autos['price_usd'].min())
print('Max: ', autos['price_usd'].max())

print('Unique values count: ', autos['price_usd'].unique().shape, end='\n\n')

print('Detailed description: ')
print(autos['price_usd'].describe(),end='\n\n')
print('Value counts (Lowest 5): ')
print(autos['price_usd'].value_counts().sort_index().head(), end='\n\n')

print('Value counts (Highest 5): ')
print(autos['price_usd'].value_counts().sort_index(ascending=False).head())

Min:  2
Max:  999990
Unique values count:  (2346,)

Detailed description:
count     48410.000000
mean       5928.444350
std       10131.378228
min           2.000000
25%        1250.000000
50%        3000.000000
75%        7496.000000
max      999990.000000
Name: price_usd, dtype: float64

Value counts (Lowest 5):
2    3
3    1
5    2
8    1
9    1
Name: price_usd, dtype: int64

Value counts (Highest 5):
999990    1
350000    1
345000    1
299000    1
295000    1
Name: price_usd, dtype: int64

From the above, we can have an overview of the remaining values. By looking at the highest 5 values, we can determine tat about 350000 dollars is the highest value (we can ignore the 999990 dollars as it looks unrealistic.

As well, by looking at the lowest 5 values, we seem to still find one-digit values. We can try and analyze the lowest values more:

In [27]:
autos['price_usd'].sort_values().head(200)

1171       2
24413      2
30678      2
33429      3
8560       5
5375       5
28372      8
31054      9
27658     10
29246     10
35009     10
44597     10
42186     10
33893     10
17079     10
9255      11
35555     11
3416      12
18443     12
15747     12
4598      13
5132      13
19632     14
45157     15
40856     15
27813     17
38552     17
30587     17
8570      18
37141     20
        ...
26171     99
46896     99
19082     99
10507     99
8583      99
11640     99
38067     99
3221      99
38682     99
1455      99
46818     99
22385     99
42802     99
33405     99
40737     99
39455    100
28302    100
27789    100
30734    100
13741    100
34359    100
34951    100
8306     100
27761    100
3878     100
34344    100
16601    100
19014    100
26236    100
13590    100
Name: price_usd, Length: 200, dtype: int64

For the purpose of our analyss, we can analyze if we can go ahead and drop the values of 100 and less:

In [28]:
len(autos.loc[autos['price_usd'] <= 100,:])

319

A records count of 319 should be fine if they get removed, since they won't affect the analysis much:

In [29]:
autos.drop(autos[autos['price_usd'] <=100].index, inplace=True)

Now, we perform our analysis one more time:

In [30]:
#column `price_usd` analysis
print('Min: ', autos['price_usd'].min())
print('Max: ', autos['price_usd'].max())

print('Unique values count: ', autos['price_usd'].unique().shape, end='\n\n')

print('Detailed description: ')
print(autos['price_usd'].describe(),end='\n\n')
print('Value counts (Lowest 5): ')
print(autos['price_usd'].value_counts().sort_index().head(), end='\n\n')

print('Value counts (Highest 5): ')
print(autos['price_usd'].value_counts().sort_index(ascending=False).head())

Min:  110
Max:  999990
Unique values count:  (2310,)

Detailed description:
count     48091.000000
mean       5967.287476
std       10153.656015
min         110.000000
25%        1250.000000
50%        3099.000000
75%        7500.000000
max      999990.000000
Name: price_usd, dtype: float64

Value counts (Lowest 5):
110     3
111     2
115     2
117     1
120    39
Name: price_usd, dtype: int64

Value counts (Highest 5):
999990    1
350000    1
345000    1
299000    1
295000    1
Name: price_usd, dtype: int64

By looking at the numbers, we can see that most of the values are below 7500 dollars.

In [31]:
print(autos['price_usd'].unique().shape)
print(autos['odometer_km'].unique().shape)

(2310,)
(13,)

As well as the total unique values are few compared to the total number of records.

Now in total, we have removed less than 4% of the records.

### Dates columns

In the dataset, the columns which contains dates are as below:

1. `date_crawled` at index 0 - When this ad was first crawled. All field-values are taken from this date (Added by the crawler).
2. `registration_year` at index 7 - The year in which the car was first registered (from the website).
3. `registration_month` at index 12 - The month in which the car was first registered (from the website).
4. `ad_created` at index 16 - The date on which the eBay listing was created (from the website).
5. `last_seen` at index 19 - When the crawler saw this ad last online (Added by the crawler).

The first step involves identifyting the current format of each column, and convert any string values, to numeric values so we can understand it quantitatively.

In [32]:
print(autos['date_crawled'].dtypes)
print(autos['registration_month'].dtypes)
print(autos['registration_year'].dtypes)
print(autos['ad_created'].dtypes)
print(autos['last_seen'].dtypes)

object
int64
int64
object
object

The columns `registration_month` and `registration_year` are already read by Pandas as a numeric data type. We're going to work on the rest of the colunmns to convert them into a numeric type.

In [33]:
#exploring columns
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

We notice from the above that the first 10 characters of each value represents the day. Therefore, we can analyze the columns like below to see the distribution of the dates along the records.

#### `date_crawled`

In [34]:
print(autos['date_crawled'].str[0:10].value_counts(normalize=True, dropna=False).sort_index())

2016-03-05    0.025389
2016-03-06    0.014057
2016-03-07    0.035953
2016-03-08    0.033229
2016-03-09    0.033000
2016-03-10    0.032355
2016-03-11    0.032646
2016-03-12    0.036951
2016-03-13    0.015720
2016-03-14    0.036639
2016-03-15    0.034227
2016-03-16    0.029444
2016-03-17    0.031503
2016-03-18    0.012871
2016-03-19    0.034726
2016-03-20    0.037762
2016-03-21    0.037283
2016-03-22    0.032917
2016-03-23    0.032293
2016-03-24    0.029444
2016-03-25    0.031399
2016-03-26    0.032231
2016-03-27    0.031128
2016-03-28    0.034996
2016-03-29    0.034102
2016-03-30    0.033790
2016-03-31    0.031835
2016-04-01    0.033686
2016-04-02    0.035599
2016-04-03    0.038614
2016-04-04    0.036556
2016-04-05    0.013100
2016-04-06    0.003161
2016-04-07    0.001393
Name: date_crawled, dtype: float64

From the above, we can observe that:
1. The craweler took about a month to collect the data.
2. The craweler takes a bulk records each day, while on some days, it takes few data comparing the other days.
3. The crawling activity began to stop on 6th of April by taking only few records.

#### `ad_created`

In [50]:
autos['ad_created'].str[0:10].value_counts(normalize=True, dropna=False).sort_index()

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
2016-01-03    0.000021
2016-01-07    0.000021
2016-01-10    0.000042
2016-01-13    0.000021
2016-01-14    0.000021
2016-01-16    0.000021
2016-01-22    0.000021
2016-01-27    0.000062
2016-01-29    0.000021
2016-02-01    0.000021
2016-02-02    0.000042
2016-02-05    0.000042
2016-02-07    0.000021
2016-02-08    0.000021
2016-02-09    0.000021
2016-02-11    0.000021
2016-02-12    0.000042
2016-02-14    0.000042
2016-02-16    0.000021
2016-02-17    0.000021
2016-02-18    0.000042
2016-02-19    0.000062
2016-02-20    0.000042
2016-02-21    0.000062
                ...
2016-03-09    0.033083
2016-03-10    0.032064
2016-03-11    0.032958
2016-03-12    0.036784
2016-03-13    0.017093
2016-03-14    0.035266
2016-03-15    0.033956
2016-03-16    0.029943
2016-03-17    0.031170
2016-03-18    0.013558
2016-03-19    0.033582
2016-03-20    0.037845
2016-03-21    0.037512
2016-03-22    0.032730
2016-03-23    0.032127
2016-03-24    0.029382
2016-03-25    0.031524
2016-03-26    0.032293
2016-03-27    0.031045
2016-03-28    0.035100
2016-03-29    0.034060
2016-03-30    0.033603
2016-03-31    0.031877
2016-04-01    0.033665
2016-04-02    0.035287
2016-04-03    0.038864
2016-04-04    0.036909
2016-04-05    0.011832
2016-04-06    0.003244
2016-04-07    0.001248
Name: ad_created, Length: 76, dtype: float64

The above shows just 76 records. Lets get the last 50 to see the distribution.

In [52]:
autos['ad_created'].str[0:10].value_counts(normalize=True, dropna=False).sort_index().tail(50)

2016-02-18    0.000042
2016-02-19    0.000062
2016-02-20    0.000042
2016-02-21    0.000062
2016-02-22    0.000021
2016-02-23    0.000083
2016-02-24    0.000042
2016-02-25    0.000062
2016-02-26    0.000042
2016-02-27    0.000125
2016-02-28    0.000208
2016-02-29    0.000166
2016-03-01    0.000104
2016-03-02    0.000104
2016-03-03    0.000873
2016-03-04    0.001497
2016-03-05    0.022936
2016-03-06    0.015325
2016-03-07    0.034684
2016-03-08    0.033229
2016-03-09    0.033083
2016-03-10    0.032064
2016-03-11    0.032958
2016-03-12    0.036784
2016-03-13    0.017093
2016-03-14    0.035266
2016-03-15    0.033956
2016-03-16    0.029943
2016-03-17    0.031170
2016-03-18    0.013558
2016-03-19    0.033582
2016-03-20    0.037845
2016-03-21    0.037512
2016-03-22    0.032730
2016-03-23    0.032127
2016-03-24    0.029382
2016-03-25    0.031524
2016-03-26    0.032293
2016-03-27    0.031045
2016-03-28    0.035100
2016-03-29    0.034060
2016-03-30    0.033603
2016-03-31    0.031877
2016-04-01    0.033665
2016-04-02    0.035287
2016-04-03    0.038864
2016-04-04    0.036909
2016-04-05    0.011832
2016-04-06    0.003244
2016-04-07    0.001248
Name: ad_created, dtype: float64

We observe from the above that:
1. Ads created mostly after the 4th of March.
2. The distibution of the records kinda syncs with `date_crawled` records, as few days where `date_crawled` had less distribution, `ad_created` had less distribution as well. This may denote that the site was down at that time, and the crawler was just fine.

#### `last_seen`

In [36]:
print(autos['last_seen'].str[0:10].value_counts(normalize=True, dropna=False).sort_index())

2016-03-05    0.001081
2016-03-06    0.004304
2016-03-07    0.005386
2016-03-08    0.007299
2016-03-09    0.009565
2016-03-10    0.010646
2016-03-11    0.012414
2016-03-12    0.023830
2016-03-13    0.008879
2016-03-14    0.012622
2016-03-15    0.015824
2016-03-16    0.016427
2016-03-17    0.028072
2016-03-18    0.007319
2016-03-19    0.015762
2016-03-20    0.020669
2016-03-21    0.020565
2016-03-22    0.021376
2016-03-23    0.018590
2016-03-24    0.019713
2016-03-25    0.019110
2016-03-26    0.016698
2016-03-27    0.015512
2016-03-28    0.020794
2016-03-29    0.022333
2016-03-30    0.024641
2016-03-31    0.023851
2016-04-01    0.022873
2016-04-02    0.024849
2016-04-03    0.025140
2016-04-04    0.024516
2016-04-05    0.125159
2016-04-06    0.221954
2016-04-07    0.132228
Name: last_seen, dtype: float64

The increasing number of distribution in the last 3 days (5th till 7th of April) could mean that the crawler was verifying the current record held, and this may explain the slowness in records creation during these days.

We can observe from the analysis of the 3 columns that no column have any missing values

#### `registration_year`

In [62]:
print(autos['registration_year'].value_counts(dropna=False, normalize=True).sort_index())

1000    0.000021
1001    0.000021
1111    0.000021
1800    0.000042
1910    0.000042
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000042
1937    0.000083
1938    0.000021
1939    0.000021
1941    0.000042
1943    0.000021
1948    0.000021
1950    0.000021
1951    0.000042
1952    0.000021
1953    0.000021
1954    0.000042
1955    0.000042
1956    0.000083
1957    0.000042
1958    0.000083
1959    0.000125
1960    0.000437
1961    0.000125
1962    0.000083
1963    0.000166
1964    0.000250
          ...
2000    0.064024
2001    0.054626
2002    0.051465
2003    0.055998
2004    0.056123
2005    0.060489
2006    0.055478
2007    0.047244
2008    0.045934
2009    0.043251
2010    0.033000
2011    0.033624
2012    0.027198
2013    0.016635
2014    0.013766
2015    0.007902
2016    0.024870
2017    0.028737
2018    0.009732
2019    0.000021
2800    0.000021
4100    0.000021
4500    0.000021
4800    0.000021
5000    0.000062
5911    0.000021
6200    0.000021
8888    0.000021
9000    0.000021
9999    0.000062
Name: registration_year, Length: 95, dtype: float64

We can observe unusual values here, so we can go ahead and remove them.

In [63]:
autos.drop(autos[autos['registration_year'] > 2019].index, inplace=True)
autos.drop(autos[autos['registration_year'] < 1910].index, inplace=True)
print(autos.shape)

(48072, 20)

In [64]:
print(autos['registration_year'].value_counts(dropna=False, normalize=True).sort_index())

1910    0.000042
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000042
1937    0.000083
1938    0.000021
1939    0.000021
1941    0.000042
1943    0.000021
1948    0.000021
1950    0.000021
1951    0.000042
1952    0.000021
1953    0.000021
1954    0.000042
1955    0.000042
1956    0.000083
1957    0.000042
1958    0.000083
1959    0.000125
1960    0.000437
1961    0.000125
1962    0.000083
1963    0.000166
1964    0.000250
1965    0.000354
1966    0.000458
1967    0.000541
1968    0.000541
          ...
1990    0.006823
1991    0.006969
1992    0.007593
1993    0.008654
1994    0.012814
1995    0.024484
1996    0.028020
1997    0.039690
1998    0.048323
1999    0.059744
2000    0.064050
2001    0.054647
2002    0.051485
2003    0.056020
2004    0.056145
2005    0.060513
2006    0.055500
2007    0.047262
2008    0.045952
2009    0.043268
2010    0.033013
2011    0.033637
2012    0.027209
2013    0.016642
2014    0.013771
2015    0.007905
2016    0.024879
2017    0.028749
2018    0.009735
2019    0.000021
Name: registration_year, Length: 81, dtype: float64

In [65]:
autos['registration_year'].describe()

count    48072.000000
mean      2003.505180
std          7.507013
min       1910.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       2019.000000
Name: registration_year, dtype: float64

From the above, we can estimate that most of the cars are registered between 1996 and 2010 (using the mean and the standard deviation).

In [73]:
autos['registration_year'].value_counts().sort_values(ascending=False).head()

2000    3079
2005    2909
1999    2872
2004    2699
2003    2693
Name: registration_year, dtype: int64

From the above, we can confirm our statement, and also note that most of the cars were registered in 2000.

### Identifying brands

Let us look at the `brand` column within the dataset, which holds the car brand for each ad.

In [79]:
print(autos['brand'].unique())
print('length: ', len(autos['brand'].unique()))

['peugeot' 'bmw' 'volkswagen' 'smart' 'ford' 'chrysler' 'seat' 'renault'
 'mercedes_benz' 'audi' 'sonstige_autos' 'opel' 'mazda' 'porsche' 'mini'
 'toyota' 'dacia' 'nissan' 'jeep' 'saab' 'volvo' 'mitsubishi' 'jaguar'
 'fiat' 'skoda' 'subaru' 'kia' 'citroen' 'chevrolet' 'hyundai' 'honda'
 'daewoo' 'suzuki' 'trabant' 'land_rover' 'alfa_romeo' 'lada' 'rover'
 'daihatsu' 'lancia']
length:  40

As expected, brands are limited in count comapred to the number of ads in the dataset. These brands contian no numeric values, and shall be treated as strings if required.

In [85]:
#Identify top 20 brands
autos['brand'].value_counts().sort_values(ascending=False).head(20)

volkswagen        10238
bmw                5241
opel               5196
mercedes_benz      4625
audi               4143
ford               3334
renault            2294
peugeot            1416
fiat               1244
seat                910
skoda               774
nissan              737
mazda               732
smart               690
citroen             679
toyota              611
hyundai             479
sonstige_autos      450
volvo               434
mini                416
Name: brand, dtype: int64

From the above, we can see that most ads are on the top 9 brands displayed above (over 1000 ads per brand). We can start analyzing those.

In [100]:
brand_price_mean_dct = {}

for item in autos['brand'].value_counts().sort_values(ascending=False).head(9).index:
    brand_price_mean_dct[item] = autos.loc[autos['brand'] == item, 'price_usd'].mean()

print(brand_price_mean_dct)

{'volkswagen': 5478.835124047666, 'peugeot': 3095.3679378531074, 'mercedes_benz': 8572.600216216217, 'ford': 3781.123275344931, 'renault': 2463.1992153443766, 'audi': 9268.353608496258, 'bmw': 8313.271513070025, 'fiat': 2833.099678456592, 'opel': 2984.8720169361045}

From the above, the brands audi, mercedex_benz, and bmw, have the highest mean values for the price.

On the other hand, the brands renault, fiat, and opel have the lowest mean values for the price.

#### Mileage and price link

Let us calculate the average mileage for the brands we got to see if there is any link between it and the mean price.

In [102]:
brand_mileage_mean_dct = {}

for item in autos['brand'].value_counts().sort_values(ascending=False).head(9).index:
    brand_mileage_mean_dct[item] = autos.loc[autos['brand'] == item, 'odometer_km'].mean()

print(brand_mileage_mean_dct)

{'volkswagen': 129041.31666341082, 'peugeot': 127270.48022598871, 'mercedes_benz': 131107.02702702704, 'ford': 124334.13317336532, 'renault': 128210.54925893636, 'audi': 129619.84069514845, 'bmw': 132845.8309482923, 'fiat': 117355.30546623794, 'opel': 129508.27559661277}

From the above, we can observe that the brands bmw, mercedes_benz, and audi have the highest mean mileage count (just like the top mean prices!).

As for the lowest mean mileage, the brands fiat, ford, and renault are the lowest (ford's mean price was a bit close to opel).

In [111]:
#converting dictionaries to Pandas Series:
brand_price_mean = pd.Series(brand_price_mean_dct)
brand_mileage_mean = pd.Series(brand_mileage_mean_dct)

#creating a dataframe from the brand_price_mean Series
brand_price_mileage_mean_df = pd.DataFrame(brand_price_mean, columns=['Mean Price'])

#assigning the brand_mileage_mean Series to the created DataFrame
brand_price_mileage_mean_df['Mean Mileage'] = brand_mileage_mean

In [121]:
brand_price_mileage_mean_df.sort_values('Mean Price', ascending=False)

                Mean Price   Mean Mileage
audi           9268.353608  129619.840695
mercedes_benz  8572.600216  131107.027027
bmw            8313.271513  132845.830948
volkswagen     5478.835124  129041.316663
ford           3781.123275  124334.133173
peugeot        3095.367938  127270.480226
opel           2984.872017  129508.275597
fiat           2833.099678  117355.305466
renault        2463.199215  128210.549259

From the above (sorted by mean price) we notice that the highest prices goes for the mentioned brands before, with the highest mean mileage compared to others.

In [122]:
brand_price_mileage_mean_df.sort_values('Mean Mileage', ascending=False)

                Mean Price   Mean Mileage
bmw            8313.271513  132845.830948
mercedes_benz  8572.600216  131107.027027
audi           9268.353608  129619.840695
opel           2984.872017  129508.275597
volkswagen     5478.835124  129041.316663
renault        2463.199215  128210.549259
peugeot        3095.367938  127270.480226
ford           3781.123275  124334.133173
fiat           2833.099678  117355.305466

The above table (sortd by mean mileage) also shows the same 3 brands on top.

The lowest prices however does not necessarly means a lower mileage.

Usually, a brand with a high price, and high mileage, can prove that this brand is mostly wanted. In this case, mercedes_benz is the most wanted car in the market.

# Thank You.

Hashem Ahmed.